<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="ISO-8859-1">
<title>Edit Book</title>
<link rel="stylesheet" 
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
	crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-md" style="background-color: #e3f2fd;">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Library Management Systems </a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/books}">Book List</a>
      </li>
    </ul>
  </div>
</nav>
		
<div class="container">
		<div class="row  w-20 p-3">
			<div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class="text-center">Edit Book</h1>
				<div class="card-body">
					<form th:action="@{/books/{id}(id=${book.id})}" th:object="${book}" method="POST">
							
						<div class="form-group">
							<label>New Book Possessor</label>
							<input type="text" name="posses" th:field="*{posses}" class="form-control" placeholder="Enter Possessor ID"/>
						</div>
						
						<div class="box-footer">
							<button type="submit" class="btn btn-primary">
								Submit
							</button>
						</div>
				</div>
			</div>
		</div>		
</div>


</body>
</html>