<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="ISO-8859-1">
<title>LMS</title>
<link rel="stylesheet" 
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
	crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-md" style="background-color: #e3f2fd;">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Library Management Systems </a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/books}">Book List</a>
      </li>
    </ul>
  </div>
</nav>
	
	<div class="container">
	
		<table class="table table-striped table-bordered">
			<thead class ="table-dark">
				<tr>
					<th>Name</th>
					<th>Auther</th>
					<th>Genere</th>
					<th>Possessor</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:object="${books}">
					<td th:text="${books.name}"></td>
					<td th:text="${books.author}"></td>
					<td th:text="${books.genere}"></td>
					<td th:text="${books.posses}"></td>
				</tr>
			</tbody>
		</table>
		
	</div>
</body>
</html>